
.copied {
  font-family: 'Montserrat', sans-serif;
  width: 75px;
  display: none;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 3px 15px #b8c6db;
  border: 2px solid #00a32a;
  background: #76c48b;
  color: #000;
  font-size: 16px;
}


.captain-copy .copy-clipboard {
  cursor: pointer;
}

.column-share-link {
  textarea {
    resize: none;
    height: auto;
    width: 100%;
    min-height: 65px;

    &[readonly] {
      border: none;
      background: none;
      box-shadow: none;
      color: inherit;
    }
  }


}

.captain-media-secure-wrapper {
  display: none;

  .file-upload {
    margin: 20px auto;

  }

  .file-upload-content {
    display: none;
  }

  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: auto !important;
  }

  .file-upload-wrap {
    border: 4px dashed #535353;
    position: relative;
    margin-bottom: 50px;
  }

  .file-title-wrap {
    margin-top: 10px;
    color: #222;
  }

  .drag-text {
    text-align: center;

    .button {
      margin-top: 20px;
      position: relative;
    }

    p {
      font-weight: 100;
      text-transform: uppercase;
      color: #000;
      padding: 40px 0;
      font-size: 20px;
    }
  }

  #start {
    position: absolute;
    bottom: -40px;
    top: auto;
    z-index: 5;
  }

  .remove-file {
    margin: 0;
    border: none;
    padding: 10px;
    transition: all .2s ease;
    outline: none;
    font-weight: 700;
    word-wrap: anywhere;
    background: #c03;
    color: #fff;

    &:hover {
      background: #ec897c;
      color: #ffffff;
      transition: all .2s ease;
      cursor: pointer;
    }

    &:active {
      border: 0;
      transition: all .2s ease;
    }
  }

  .captain-notice {
    display: none;
    margin: 5px 0 15px;

    div {
      padding: 10px 12px;
      background: #fff;
      border: 1px solid #c3c4c7;
      border-left-width: 4px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    }

    .error {
      border-left-color: #d63638;
    }

    .success {
      border-left-color: #00a32a;
    }
  }
}

.captain-media-secure-result {
  button {
    display: none;
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid #17a2b8;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: copy;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    position: absolute;
    right: 5px;
    bottom: 15px;
  }
}

.captain-secure-media-success #captain-media-secure-result-share-url {
  border-color: #1fb264;
}

#captain-media-secure-result-share-url {
  display: none;
  width: 100%;
  padding: 10px 170px 10px 10px;
  margin-bottom: 10px;
}


.captain-limit {
  background: orange;
  padding: 5px;
  color: #fff;
}

.captain-edit a {
  cursor: pointer;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  min-height: 100px;
}

#captain-secure-popin {
  .form-field section {
    border: 1px solid #aaa;
    border-radius: 3px;
    display: flex;
    width: 100%;
  }

  #captain-mask-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #dddddd9e;
    text-align: center;
    display: flex;

    img {
      margin: auto;
      width: 25px;
    }
  }

  .form-field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;

    .dashicons {
      padding: 10px;
      margin: auto;

      &:before {
        color: #2980b9;
      }
    }

    label {
      flex-shrink: 0;
      flex-basis: 100%;
      width: 100%;
      margin-top: 10px;
      color: #2980b9;
      border-bottom: 3px solid;
      margin-bottom: 5px;
      padding-bottom: 5px;
      cursor: initial;

      span{
        font-size: 10px;
        background: #2980b9;
        padding: 2px;
        border-radius: 50%;
        width: 15px;
        display: inline-block;
        height: 15px;
        line-height: 14px;
        text-align: center;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        &:hover{
          background: #26516c
        }
      }
    }
  }

  .form-field section input, .form-field section #select_roles {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: initial;
  }

  .form-field section #select_roles {
    width: 100%;
  }

  .content {
    h2 {
      border-bottom: 3px solid;
      word-wrap: anywhere;
      margin-top: 20px;
    }

    button {
      background: #2980b9;
      color: #fff;
      border: none;
      padding: 15px 15px;
      width: 100%;
      cursor: pointer;
      margin-top: 20px;
      text-transform: uppercase;
    }

    h3.count-download {
      font-size: 0.8em;
      flex-shrink: 0;
      flex-basis: 100%;
      margin-top: 10px;
      color: #2980b9;
      margin-bottom: 5px;
    }
  }

  #media-secure-result {
    padding: 10px 15px;
    margin-top: 10px;
    display: none;

    &.success {
      background: #edfaef;
      border-left: 2px solid #00a32a;
    }

    &.error {
      background: #fcf0f1;
      border-left: 2px solid #d63638;
    }
  }
}


#ui-datepicker-div {
  background-color: #fff;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102, 175, 233, .6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;

  td {
    a, span {
      text-align: center;
    }

    a {
      background: #1d2327;
      border: 1px solid #1d2327;
      color: #fff;

      &.ui-state-hover {
        background: #C03;
        border: 1px solid #000;
      }
    }

    &.ui-datepicker-today a, &.ui-datepicker-current-day a {
      color: #fff;
      border: 1px solid #14334d;
    }

    &.ui-datepicker-current-day a {
      background: #4eacf9;
    }

    &.ui-datepicker-today a {
      background: #2271b1;
    }
  }

  .ui-widget-header {
    background: none;
    border: none;

    .ui-datepicker-prev span, .ui-datepicker-next span {
      background: none;
      display: none;
    }

    a {
      &.ui-datepicker-prev:before, &.ui-datepicker-next:before {
        display: inline-block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 15px;
        text-align: center;
        line-height: 25px;
      }

      &.ui-datepicker-prev:before {
        content: "〈";
      }

      &.ui-datepicker-next:before {
        content: "〉";
      }
    }

    .ui-datepicker-header a {
      cursor: pointer !important;
    }

    .ui-state-hover {
      background: none;
      border: 0;
    }
  }

  .ui-datepicker-buttonpane button {
    border-radius: initial;
    font-size: 10px;
  }
}
